In [1]:
#Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [2]:
#Import dataset
dataset_v1 = pd.read_csv('Glassdoor Gender Pay Gap.csv')

#Locating indexes
X = dataset_v1.iloc[:, :-2].values

#The depend variable is salary
y = dataset_v1.iloc[:, -2].values

In [3]:
#Count unique values prior to encoding
#Categorical independent variables will need to be encoded: JobTitle, Gender, Education, Dept
dataset_v1.nunique()

JobTitle      10
Gender         2
Age           48
PerfEval       5
Education      4
Dept           5
Seniority      5
BasePay      992
Bonus        941
dtype: int64

In [4]:
dataset_v1.head()

,JobTitle,Gender,Age,PerfEval,Education,Dept,Seniority,BasePay,Bonus
0,Graphic Designer,Female,18,5,College,Operations,2,42363,9938
1,Software Engineer,Male,21,5,College,Management,5,108476,11128
2,Warehouse Associate,Female,19,4,PhD,Administration,5,90208,9268
3,Software Engineer,Male,20,5,Masters,Sales,4,108080,10154
4,Graphic Designer,Male,26,5,Masters,Engineering,5,99464,9319

In [5]:
#Encoding the categorical variables - JobTitle - 1st Column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(),[0])], remainder='passthrough')
X = ct.fit_transform(X)

In [6]:
#Checking encoding: JobTitle
print(X[:] [0])

[0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 'Female' 18 5 'College'
 'Operations' 2]

In [7]:
#Encoding the categorical variables - Gender - 11th column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
#Gender is performed on the wrong column here - we have to check how many job titles there are....
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(),[10])], remainder='passthrough')
X = ct.fit_transform(X)

In [8]:
#Checking
print(X[:] [0])

[1.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 18 5 'College'
 'Operations' 2]

In [9]:
#Encoding the categorical variables - Education - 15th Column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
#Gender is performed on the wrong column here - we have to check how many job titles there are....
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(),[14])], remainder='passthrough')
X = ct.fit_transform(X)

In [10]:
#Checking
print(X[:] [0])

[1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 0.0 0.0 18 5
 'Operations' 2]

In [11]:
#Encoding the categorical variables - Department - 19th Column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
#Gender is performed on the wrong column here - we have to check how many job titles there are....
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(),[18])], remainder='passthrough')
X = ct.fit_transform(X)

In [12]:
#Checking
#Column Labels:
#Department: 1:5
#Education: 6:9
#Gender: 10:11
#JobTitle: 12:21
#Age: 22
#PerfEval: 23
#Seniority: 24

print(X[:] [0])

[0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0
 0.0 0.0 0.0 18 5 2]

In [13]:
#Splitting data into training set and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

In [19]:
#Training the model
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [20]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[ 85253.   80789. ]
 [ 80494.   57500. ]
 [116751.  130251. ]
 [135781.  126269. ]
 [ 63695.   57672. ]
 [128737.5 106045. ]
 [ 74938.   88566. ]
 [ 84725.   61164. ]
 [ 75397.   84930. ]
 [111041.  102745. ]
 [ 82790.   78132. ]
 [111896.  127013. ]
 [ 34208.   38613. ]
 [112392.  109345. ]
 [148178.  121506. ]
 [ 78623.   71105. ]
 [ 62600.   69928. ]
 [103133.  110049. ]
 [114479.   95584. ]
 [ 96061.  103384. ]
 [100183.  103007. ]
 [ 62753.   91566. ]
 [100433.   78750. ]
 [101173.   93306. ]
 [101249.  109645. ]
 [103156.  114621. ]
 [ 83031.   81503. ]
 [ 92067.  109369. ]
 [141005.  124847. ]
 [ 76654.  108476. ]
 [121589.   83308. ]
 [ 91049.   96584. ]
 [109623.   89225. ]
 [114693.  104290. ]
 [ 69734.   62377. ]
 [121151.  100819. ]
 [ 85948.   87314. ]
 [133910.  150467. ]
 [ 93855.   86375. ]
 [ 51906.   56318. ]
 [ 79208.   65711. ]
 [ 95798.  108977. ]
 [108778.  129620. ]
 [ 66611.  119522. ]
 [ 64468.   67749. ]
 [105601.   99134. ]
 [ 55885.   39741. ]
 [ 79707.   91713. ]
 [ 69855.   71824. ]
 [130417.  123242. ]
 [135781.  120154. ]
 [135781.  133927. ]
 [109346.  123422. ]
 [ 53855.   66407. ]
 [135013.  124166. ]
 [132323.  114029. ]
 [ 70088.   88213. ]
 [101249.  108820. ]
 [ 93018.   98796. ]
 [111770.   91568. ]
 [ 94492.   90426. ]
 [ 84844.   93067. ]
 [ 91711.   88994. ]
 [ 48570.   77309. ]
 [129226.  122037. ]
 [ 90612.  100091. ]
 [ 98499.  102910. ]
 [101249.  100769. ]
 [ 98100.   97000. ]
 [ 71371.   95754. ]
 [ 62600.   79237. ]
 [110643.  106560. ]
 [114906.  108475. ]
 [ 76286.   69254. ]
 [112169.  114141. ]
 [ 86036.   82755. ]
 [ 92154.  112134. ]
 [ 92154.   79177. ]
 [ 93742.  111120. ]
 [107025.   78910. ]
 [ 58130.   62260. ]
 [103133.  123172. ]
 [130082.  118629. ]
 [128737.5 119069. ]
 [ 95505.   68643. ]
 [ 67089.   80635. ]
 [ 87682.   80937. ]
 [ 74938.   75518. ]
 [145095.  135073. ]
 [165229.  135512. ]
 [ 85306.   85398. ]
 [ 94492.   89170. ]
 [133910.  135638. ]
 [ 83333.  102108. ]
 [117554.   81866. ]
 [ 72038.   65750. ]
 [100463.   91504. ]
 [ 62097.   76517. ]
 [ 78472.   57070. ]
 [ 69734.   72422. ]
 [ 38451.   62866. ]
 [ 87409.   91129. ]
 [ 74523.   83034. ]
 [134109.  115981. ]
 [118231.  111903. ]
 [106896.   87848. ]
 [126828.  101133. ]
 [ 55885.   47739. ]
 [ 98575.  124530. ]
 [ 87682.   98010. ]
 [ 62753.   96045. ]
 [ 61081.   67323. ]
 [101262.  121821. ]
 [ 83095.   98535. ]
 [ 56172.   40341. ]
 [ 68384.   64624. ]
 [ 71371.   76522. ]
 [120579.   96777. ]
 [101154.  114733. ]
 [ 91160.   94590. ]
 [ 71858.   82343. ]
 [107064.  112719. ]
 [111726.  110731. ]
 [ 90474.   89272. ]
 [105601.   97328. ]
 [100505.  117215. ]
 [100516.  118653. ]
 [ 66125.   37780. ]
 [120159.   92257. ]
 [ 81515.  103978. ]
 [ 90542.   85986. ]
 [101140.   84803. ]
 [119794.  124891. ]
 [106896.  109136. ]
 [ 85948.  104468. ]
 [121210.  106315. ]
 [ 64844.   60892. ]
 [ 92067.  112976. ]
 [121151.  113009. ]
 [120579.  124151. ]
 [104657.  111342. ]
 [106158.  101716. ]
 [121376.  128669. ]
 [102261.   92687. ]
 [ 87575.   94973. ]
 [100160.   76700. ]
 [ 71182.   61527. ]
 [124470.  113544. ]
 [ 78113.   88037. ]
 [129226.  113252. ]
 [ 84592.  100014. ]
 [ 50401.   66359. ]
 [ 49622.   40056. ]
 [ 79462.   66887. ]
 [ 82164.   88195. ]
 [ 97240.   91030. ]
 [ 98366.   67040. ]
 [ 97414.   77751. ]
 [134450.  115604. ]
 [112188.  118888. ]
 [ 79674.   86241. ]
 [114171.   97311. ]
 [ 64807.   93696. ]
 [127085.  125828. ]
 [152625.  179726. ]
 [116642.   85161. ]
 [139068.  155834. ]
 [ 53839.   76726. ]
 [108719.  113730. ]
 [138163.  118088. ]
 [131980.  136836. ]
 [ 47036.   64920. ]
 [ 64852.   68639. ]
 [ 74829.   49553. ]
 [ 97240.  105632. ]
 [111502.  103416. ]
 [ 79208.   66084. ]
 [130417.  109931. ]
 [121210.  122352. ]
 [127062.  113180. ]
 [ 68403.   84683. ]
 [106158.  123108. ]
 [128680.  113122. ]
 [ 70311.   59458. ]
 [106945.   96665. ]
 [ 86795.   99472. ]
 [ 85253.   77584. ]
 [ 87585.   77655. ]
 [157169.  155826. ]
 [ 42722.   88482. ]
 [ 95995.   81661. ]
 [ 84132.   84764. ]
 [ 97240.  105800. ]
 [ 59212.   70890. ]
 [ 96232.   86538. ]
 [ 93805.  110636. ]
 [ 79462.   55560. ]
 [ 77881.   91099. ]
 [ 64807.   98512. ]
 [128970.  129132. ]]

In [21]:
#Evaluating Model Performance
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)
#Based on this result, we see that regression tree is not a reliable model for salary prediction

0.5587732044168616

In [22]:
#Make a prediction for Software Engineer, Female, 50, 5, Masters, Operations, 3
print(regressor.predict([[1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 50, 5, 3]]))

[106279.]